body {
    height: 3000px;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #5cb55c;
    height: 50px;
}

ul {
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

#link {
    position: relative;
    position: fixed;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

.main {
    border: 2px solid red;
    display: flex;
    margin-top: 200px;
}

.name {
    font-weight: bolder;
    margin-left: 200px;
    margin-top: 168px;
    font-size: 50px;
    font-weight: 196px;
    text-decoration: underline;
    color: darkblue;
}

img {
    display: flex;
    height: 350px;
    border-radius: 193px;
    box-shadow: 27px 22px 98px black;
}

.name1 {
    padding-top: 34px;
    padding-left: 355px;
    flex-direction: row;
    border-radius: 100px;
}

button {
    display: flex;
    position: relative;
    right: 573px;
    bottom: 13px;
    padding: 29px;
    border-radius: 27px;
    background: darkslateblue;
    cursor: pointer;
    color: aliceblue;
}

.about {
    /* overflow: hidden; */
    width: 100vw;
    border: 2px solid red;
    display: flex;
    margin-top: 200px;
    /* justify-content: right; */
}

.intro {
    /* display: flex; */
    position: relative;
    left: 446px;
    bottom: 274px;
}

.intro p {
    display: flex;
}

.form {
    display: flex;
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
    height: 10px;
  }